name: Matrix CI
on:
  push:
    branches:
      - main

jobs:
  build:
    continue-on-error: true
    strategy:
      fail-fast: true
      matrix:
        node-version: [12, 14, 18]
        os-version: [ubuntu-latest, window-lastest]
        include:
          - node-version: 16
            os-version: ubuntu-lastest
        exclude:
          - node-version: 12
            os-version: window-lastest
    runs-on: ${{ matrix.os-version }}
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install Dependencies
        run: npm ci
      - name: Build Code
        run: npm run build
